.header {
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.logo {
  margin: 10px;
}

.symbol {
  margin-left: auto;
}

.homepage-button {
  background-color: #0059a1;
  color: white;
  padding: 21px;
  border: white;
  text-align: center;
  margin-left: 120px;
  box-shadow: 4px 4px 4px #999;
}

.add-event-button {
  background-color: white;
  padding: 21px;
  border: white;
  margin-left: 10px;
  box-shadow: 4px 4px 4px #999;
}
