<div class="container">
<h1>Participants</h1>

<table>
  <tr>
    <td>Event name:</td>
    <td>{{event?.name}}</td>
  </tr>
  <p></p>
  <tr>
    <td>Event date:</td>
    <td>{{event?.date}}</td>
  </tr>
  <p></p>
  <tr>
    <td>Participants:</td>
  </tr>
  <p></p>
</table>
</div>

<div class="participants-table">
  <table>
    <tr *ngFor="let item of event?.eventBusinessClients">
      <td>{{item.companyName}} </td>
      <td>{{item.registerCode}} </td>
      <td>Participants: {{item.participantsQuantity}} </td>
      <td>{{item.additionalInfo}} </td>
    </tr>
  </table>
</div>
