
<div class="container">

  <div class="row">

    <div class="column">
      <input type="text" disabled="disabled"/>
    </div>

    <div class="column">
      <img src="assets/pilt.jpg" alt="Some picture" class="homepage-image-right">
    </div>

  </div>

  <div class="row">

    <div class="column">
      <app-future-events></app-future-events>
    </div>

    <div class="column">
      <app-past-events></app-past-events>
    </div>

  </div>

  <div>
    <app-footer></app-footer>
  </div>

</div>
