.container {
  width: 1000px;

}

input {
  background-color: #0059a1;
  width: 502.5px;
  height: 313px;
  margin-left: -5px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

