<p *ngIf="isValidFormSubmitted && privateClientForm.pristine" [ngClass] = "'success'">
  Form submitted successfully.
</p>

<div class="container">
<h1>Participants</h1>

<table>
  <tr>
    <td>Event name:</td>
    <td>{{event?.name}}</td>
  </tr>
  <p></p>
  <tr>
    <td>Event date:</td>
    <td>{{event?.date}}</td>
  </tr>
  <p></p>
  <tr>
    <td>Participants:</td>
  </tr>
  <p></p>
</table>
</div>

<!--Private clients list-->

<div class="participants-table">
<table>
  <tr *ngFor="let item of event?.eventPrivateClients">
    <td>{{item.firstName}} </td>
    <td>{{item.lastName}} </td>
    <td>{{item.idNumber}} </td>
    <td>{{item.additionalInfo}} </td>
    <td>
      <button (click)="updatePrivateClient(item.id)" class="mat-button"> Update </button>
      <button (click)="onDeletePrivateClient(item.id)" class="mat-button"> Delete </button>
    </td>
  </tr>
</table>
</div>

<!--Business clients list-->

<div class="participants-table">
  <table>
    <tr *ngFor="let item of event?.eventBusinessClients">
      <td>{{item.companyName}} </td>
      <td>{{item.registerCode}} </td>
      <td>Participants: {{item.participantsQuantity}} </td>
      <td>{{item.additionalInfo}} </td>

      <td>
        <button (click)="updateBusinessClient(item.id)" class="mat-button"> Update </button>
        <button (click)="onDeleteBusinessClient(item.id)" class="mat-button"> Delete </button>
      </td>
    </tr>
  </table>
</div>

<div class="row">

 <div class="column">
<!--Private client adding form-->

    <div class="participant-form-table">
      <form [formGroup]="privateClientForm" (ngSubmit)="onFormSubmit()">
        <h1>Add new participant</h1>
        <label for="firstName">First name:</label>
        <input id="firstName" type="text" formControlName="firstName" size="30"><br><br>

        <label for="lastName">Last name:</label>
        <input id="lastName" type="text" formControlName="lastName" size="30"><br><br>

        <label for="idNumber">Id number:</label>
        <input id="idNumber" type="text" formControlName="idNumber" size="30"><br><br>

        <label for="paymentMethod">Payment:</label>
        <select [(ngModel)]="cash" id="paymentMethod" formControlName="paymentMethod">
          <option value="CASH">Cash</option>
          <option value="CARD">Card</option>
        </select><br><br>

        <label for="additionalInfo">Additional info:</label>
        <textarea id="additionalInfo" rows="7" cols="30" formControlName="additionalInfo"></textarea><br><br>

        <button [disabled]="!privateClientForm.valid" type="submit" mat-raised-button>Save Client</button><br><br>
      </form>
      </div>
  </div>

 <div class="column">
<!--Business client adding form-->

    <div class="participant-form-table">
      <form [formGroup]="businessClientForm" (ngSubmit)="onBusinessClientFormSubmit()">
        <h1>Add new business client</h1>
        <label for="companyName">Company name:</label>
        <input id="companyName" type="text" formControlName="companyName" size="30"><br><br>

        <label for="registerCode">Register code:</label>
        <input id="registerCode" type="text" formControlName="registerCode" size="30"><br><br>

        <label for="participantsQuantity">Participants:</label>
        <input id="participantsQuantity" type="text" formControlName="participantsQuantity" size="30"><br><br>

        <label for="paymentMethod">Payment:</label>
        <select [(ngModel)]="cash" id="bClientPaymentMethod" formControlName="paymentMethod">
          <option value="CASH">Cash</option>
          <option value="CARD">Card</option>
        </select><br><br>

        <label for="additionalInfo">Additional info:</label>
        <textarea id="bClientAdditionalInfo" rows="7" cols="30" formControlName="additionalInfo"></textarea><br><br>

        <button [disabled]="!businessClientForm.valid" type="submit" mat-raised-button>Save Client</button><br><br>
      </form>
    </div>

 </div>

</div>

<app-footer></app-footer>
