<p *ngIf="isValidFormSubmitted && eventForm.pristine" [ngClass] = "'success'">
  Form submitted successfully.
</p>

<div class="event-form">
<form [formGroup]="eventForm" (ngSubmit)="onFormSubmit()">
  <h1>Add event</h1>
  <label for="name">Event name:</label>
  <input id="name" type="text" formControlName="name" size="30"><br><br>

  <label for="date">Event date:</label>
  <input id="date" type="text" formControlName="date" size="30"><br><br>

  <label for="participantsQuantity">Participants:</label>
  <input id="participantsQuantity" type="text" formControlName="participantsQuantity" size="30"><br><br>

  <!-- If event form is not filled correctly the button is disabled. -->
  <button [disabled]="!eventForm.valid" type="submit" mat-raised-button>Save event</button><br><br>
</form>
</div>

<app-footer></app-footer>

